* {
    margin: 0;
    padding: 0;
    /* border: none; */

    --test-border: 1px solid black;
    --background-color-read: blue;
    --background-color-reading: green;
    --background-color-unread: red;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

/* */

header {
    grid-column: 1 / 3;
}

/* */

main {
    grid-column: 1 / 3;
}
#book-library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 2px;
}
.book {
    height: auto;
    width: auto;
    border: var(--test-border);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.read {
    background-color: var(--background-color-read);
}
.reading {
    background-color: var(--background-color-reading);
}
.unread {
    background-color: var(--background-color-unread);
}
dialog {
    width: 250px;
    height: 200px;
    margin: auto;
}

/* */

footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
body, header, main, footer {
    border: var(--test-border);
}